{% extends 'base.html.twig' %}

{% block title %}Problem Gambling{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Problem Gambling</h1>

    If you have problem with gambling visit the following links:
    <ul>
        <li><a href="http://www.gamblersanonymous.org/ga/" target="_blank">Gamblers Anonymous</a>: International home page.</li>
        <li><a href="https://www.gamcare.org.uk/" target="_blank">GamCare (UK)</a>: GamCare provides support, information and advice to anyone suffering through a gambling problem.</li>
        <li><a href="https://www.begambleaware.org/" target="_blank">GambleAware (UK)</a>: Gamble Aware is managed by the <a href="http://www.rigt.org.uk/" target="_blank">Responsibility in Gambling Trust</a>, an independent charity which funds treatment, research and education about responsible gambling.</li>
        <li><a href="https://www.ncpgambling.org/" target="_blank">National Council on Problem Gambling (USA)</a>: The national advocate for programs and services to assist problem gamblers and their families.</li>
        <li><a href="http://www.gamblock.com/" target="_blank">Gamblock</a>: Software you can install on your computer to block access to gambling sites</li>
    </ul>
</div>
{% endblock %}
