{% extends 'base.html.twig' %}

{% block title %}Problem Gambling{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Terms of service</h1>

        <p>By accessing or contributing to this website hosted at http://www.casinoscraper.com, you agree to abide by the following terms. Please read them carefully.</p>
        <p><b>Accessing this Website</b></p>
        <p>You agree that CasinoScraper.com will not be liable, under any circumstances and in any way, for any errors or omissions, loss or damage of any kind incurred as a result of use of any content posted on this site. You agree that you must evaluate and bear all risks associated with the use of any content, including any reliance on the accuracy, completeness, or usefulness of such content.<br>
            CasinoScraper.com does not guarantee the accuracy or fullness for any item contained within these materials</p>
        <p>It is your own responsibility to determine if online gambling is legal within the jurisdiction in which you live.</p>
        <p>Our site is thoroughly free of charge and it defines the goal to observe on promoting casinos, which means that there are both ‘good’ and ‘bad’ casinos appeared on a list</p>
        <p>We do not force or call you upon for playing gambling games via the Internet<br>
            Any financial loses or gains at casinos as well as gaming process by itself are at your own risk</p>
        <p><b>Posting to this Website</b></p>
        <p>We trust in the liberty of speech; however we reserve the right to remove or change comments or content. You may post content freely to this website, so long as the content is not illegal, obscene, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or otherwise objectionable.<br>
            CasinoScraper.com is not responsible for any information posted by users and any 3rd persons</p>
        <p><b>Children</b></p>
        <p>CasinoScraper.com should not be accessed by persons under the age of 18 years, or the legal age permitted for online gambling in your jurisdiction, whichever is greater.</p>
        <p><b>Disclaimer of Warranties and Limitation of Liability</b></p>
        <p>This site is provided on an “as is” and “as available” basis. CasinoScraper.com makes no representations or warranties of any kind, express or implied, as to the site’s operation or the information, content or materials included on this site. To the full extent permissible by applicable law, CasinoScraper.com hereby disclaims all warranties, express or implied, including but not limited to implied warranties of merchantability and fitness for any particular purpose. CasinoScraper.com will not be liable for any damages of any kind arising from the use of or inability to use this site. You expressly agree that you use this site solely at your own risk.</p>
        <p><b>Modification of These Terms of Use</b></p>
        <p>CasinoScraper.com reserves the right to change, at any time, at our sole discretion, the terms under which these services are offered. You are responsible for regularly reviewing these terms. Your continued use of the services constitutes your agreement to all such terms.<br>
            <b>Contacting Us</b></p>
        <p>If you have any questions or comments on our terms of use, please contact us via email: notwillingcurrently{a}gmail.com</p>
    </div>
{% endblock %}
