{% extends 'base.html.twig' %}

{% block title %}New Casino{% endblock %}

{% block body %}
    <h1>Create new Casino</h1>

    {{ include('casino/_form.html.twig') }}

    <a href="{{ path('casino_index') }}">back to list</a>
{% endblock %}
