{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
    <main role="main" class="container">



        <div class="py-5 text-center">
            {#<img class="d-block mx-auto mb-4"
                 src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                 alt="" width="72" height="72"
            >#}
            <h2>Registration form</h2>
            <p class="lead">
                Register as a manager for your Casino and post Casino bonus codes
            </p>
        </div>


        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent bonus postings</h6>
            <div class="media text-muted pt-3">
                <img width="30" height="30" src="https://kingcasinobonus.co.uk/wp-content/uploads/2019/01/300X300_white_logo.gif" alt="Lorem Casino Dolor" class="mr-2 rounded">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">Play now at</strong>
                    <strong class="d-block text-gray-dark"><a href="http://www.dummycasino.com" target="_blank">Lorem Casino Dolor</a></strong>
                </p>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@publisher</strong>
                    <strong class="d-block text-gray-dark"><a href="/bonus/show/1">Lorem Lipsum Dolor</a></strong>
                </p>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">Bonus code:</strong>
                    <strong class="d-block text-gray-dark text-danger">Xdghse74</strong>
                </p>
            </div>

        </div>




    </main>
{% endblock %}
